html,
body,
#map {
    height: 100%;
    margin: 0;
    padding: 0;
}

#search {
    /*width: 100%;*/
    direction: rtl;
    display: block;
    position: absolute;
    z-index: 2;
    top: 20px;
    right: 74px;
}
#LocateButton {
    position: absolute;
    top: 95px;
    left: 20px;
    z-index: 50;
}

